<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>EPU-Z : 자유게시판</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
	
	<table class="table">
		<tr>
			<th>글번호</th>
			<th>제목</th>
			<th>작성자</th>
			<th>조회수</th>
			<th>작성시간</th>
		</tr>
		<tr th:each="list : ${freeBoardList}">
			<td th:text="${list.postNumber}"></td>
			<td><a th:href="@{'freeBoardPost?postNumber=' + ${list.postNumber}}"><p th:text="${list.title}"></p></a></td>
			<td th:text="${list.writer}"></td>
			<td th:text="${list.viewCount}"></td>
			<td th:text="${list.writeDate}"></td>
		</tr>
	</table>
	<a href="freeBoardRegistration" class="btn btn-default" value="글쓰기" style="float: right;"></a>
	
</body>
</html>